# Base de données
DB_HOST=localhost
DB_PORT=3306
DB_NAME=plateforme_recettes
DB_USER=recettes_app
DB_PASS=MotDePasseApp2026!

# JWT
JWT_SECRET=changez_ce_secret_en_production
JWT_EXPIRES_IN=7d

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# Serveur
PORT=3000
NODE_ENV=development
